<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--  	<bean id="p1" class="org.zabalburu.springdi.modelo.Producto"></bean>
 	
 	<bean id="p2" class="org.zabalburu.springdi.modelo.Producto">
 		<property name="id" value="2"></property>
 		<property name="nombre" value="Producto 2"></property>
 		<property name="precio" value="120.5"></property>
 		<property name="categoria" ref="c1"></property>
 	</bean>
 	
 	<bean id="p3" class="org.zabalburu.springdi.modelo.Producto">
 		<constructor-arg name="id" value="3"></constructor-arg>
 		<constructor-arg name="nombre" value="Producto 3"></constructor-arg>
 		<constructor-arg name="precio" value="75.25"></constructor-arg>
 		<constructor-arg name="categoria" ref="c1"></constructor-arg>
 	</bean> 
 	
 	<bean id="c1" class="org.zabalburu.springdi.modelo.Categoria">
		<property name="id" value="1"></property>
		<property name="nombre" value="Categoría 1"></property>
	</bean>
	<bean id="c2" class="org.zabalburu.springdi.modelo.Categoria">
		<constructor-arg index="0" value="2"></constructor-arg>
		<constructor-arg index="1" value="Categoría 2"></constructor-arg>
	</bean>-->
	
	<bean id="productoList" class="org.zabalburu.springdi.dao.ProductoList">
	</bean>
 	<bean id="servicio" class="org.zabalburu.springdi.servicio.ProductoServicio">
 		<!-- <constructor-arg name="dao" ref="productoList"></constructor-arg> -->
 		<property name="dao" ref="productoList"></property>
 	</bean>
</beans>